.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__item {
}

.navigation__link,
.navigation__item a {
  color: inherit;
  text-decoration: none;
}

.navigation__link {
  align-items: center;
  display: flex;
  letter-spacing: 0.035em;
  padding: 1rem 0;
}

.navigation__link--active {
  font-weight: 600;
}

.navigation__link__icon {
  fill: inherit;
  height: 1.2rem;
  width: 1.2rem;
}

.navigation__link__icon + .navigation__link__text {
  margin-left: 1.2rem;
}
